<h1>購入完了画面</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="left-box">
                <div class="top-box">
                    <h5>購入商品一覧</h5>
                    <% @order_item.each do |order_item|%>
                        <% order_item.product do |product|%>
                            <% product.product_name%>
                        <%end%>
                    <%end%>
                </div>
                <p>
            </h5>
            <div class="right-box">
                <h5>発送先情報</h5>
                <p>宛名<%= @order.delivery_status%></p>
                <p>郵便番号<%= @order.users.postal_code%></p>
                <p>住所<%= @order.users.address%></p>
                <p>電話番号<%= @order.users.phone_number%></p>
            </div>
        </div>
    </div>
</div>

